
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #eee;
  background: #777;
}


header {
  background: black;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  color: #eee;
  text-align: center;
  background: #333;
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #333;
}


a {
  color: #d21034;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
  font-family: 'Righteous', cursive;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: black;
  border: 1px solid #ddd;
}

.sidebar {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

  .resize {
    width: 60px;
    height: auto;
}
@media screen and (max-width: 980px, 768px, 640) {
  /* The body's bg color will be #333 */

  body {
    background-color: #333;
  }

  /* The wrapper's width will be 600px */
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  #main-content, #sidebar {
    width: 100%;
  }
  #sidebar {
    margin-top: 40px;
  }
